:root {
  --link: var(--indigo-4);
  --link-visited: var(--link);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--gradient-8);
  color: var(--gray-1);
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.anim-fadedown {
  opacity: 0;
  animation: animFadeDown 0.25s forwards;
  animation-timing-function: var(--ease-in-out-2);
}

@keyframes animFadeDown {
  from {
    transform: translateY(-0.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
